In [2]:
## Importing necessary lib

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")
plt.style.use('dark_background')

import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [2]:
tf.__version__

'2.8.0'

### S-1: Data Preprocessing :

In [3]:
## Importing Dataset
dataset = pd.read_csv("D:\Datasets\Churn_Modelling_Udm_A_Z.csv")

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
dataset.shape

(10000, 14)

In [6]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

#### Obs : 1. Dataset having 10000 row and 14 columns, among these column 1st three column i.e. rownumber , customerid, and surname is not important.
#### 2. Exited variable is Target here
#### 3. There is no missing value present in the dataset

In [8]:
x = dataset.iloc[:, 3:-1]    ## Feature var starting from 3rd colmn to last before
y = dataset.iloc[:, -1]      ## target variable

In [9]:
x.shape, y.shape

((10000, 10), (10000,))

In [10]:
x.Gender.value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [11]:
x.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

#### Obs : gender colmn has 2 unique value and Geography has 3 unique values which we have to encoded further

In [12]:
y.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [13]:
y.value_counts(normalize = True)*100

0    79.63
1    20.37
Name: Exited, dtype: float64

#### Obs : the datset taget variable is too much imbalanced i.e 79.63% of the customer is not exited but 20% of the customer is exited

### * Encoding of Categorical Feature

In [14]:
x = dataset.iloc[:, 3:-1].values 
y = dataset.iloc[:, -1].values

In [15]:
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [16]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [17]:
from sklearn.preprocessing import LabelEncoder   ## for binary variable

le = LabelEncoder()
x[:, 2] = le.fit_transform(x[:, 2])

In [18]:
x

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

#### Obs : Female is encoded by 1 and male by 0

In [19]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')  ## 1 for colmun 1
x = np.array(ct.fit_transform(x))

In [20]:
x

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

#### Obs : Encod of France : 1,0,0 , Spain : 0,0,1 and Germany : 0,1,0

### * Data Splitting:

In [22]:
from sklearn.model_selection import train_test_split
np.random.seed(500)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)
print('Shape of training dataset is :',x_train.shape)
print('')
print('Shape of test dataset is :',x_test.shape)

Shape of training dataset is : (8000, 12)

Shape of test dataset is : (2000, 12)

### * Feature Scaling

In [23]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

## S-2 : Building ANN

In [24]:
## Determining the number of columns
input_dim = x_train.shape[1]

In [25]:
## Step- 2 : Creating First model
print('------------------ MODEL_1 ------------------')

# Creating / initialising an empty sequential model
model_1 = Sequential()

# Adding an input layer to the model or ANN or !st Hidden layer i.e Layer 1
model_1.add(Dense(6, input_dim = input_dim, activation = 'relu'))

# Adding 2nd hidden layer
model_1.add(Dense(6, activation = 'relu'))

# Adding an output layer to the model
model_1.add(Dense(1, activation = 'sigmoid'))   ## As we have to predict binary variable

# Train the ANN model
## Compile the model
model_1.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

## Fit the model
model_1.fit(x_train, y_train, batch_size = 32, epochs = 100)

------------------ MODEL_1 ------------------
Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.6113 - accuracy: 0.6775
Epoch 2/100
250/250 [==============================] - 0s 948us/step - loss: 0.4889 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 910us/step - loss: 0.4518 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 952us/step - loss: 0.4337 - accuracy: 0.8006
Epoch 5/100
250/250 [==============================] - 0s 990us/step - loss: 0.4246 - accuracy: 0.8083
Epoch 6/100
250/250 [==============================] - 0s 972us/step - loss: 0.4178 - accuracy: 0.8125
Epoch 7/100
250/250 [==============================] - 0s 958us/step - loss: 0.4105 - accuracy: 0.8188
Epoch 8/100
250/250 [==============================] - 0s 930us/step - loss: 0.4011 - accuracy: 0.8236
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3921 - accuracy: 0.8288
Epoch 10/100
250/250 [==============================] - 0s 910us/step - loss: 0.3832 - accuracy: 0.8351
Epoch 11/100
250/250 [==============================] - 0s 878us/step - loss: 0.3754 - accuracy: 0.8370
Epoch 12/100
250/250 [==============================] - 0s 938us/step - loss: 0.3692 - accuracy: 0.8443
Epoch 13/100
250/250 [==============================] - 0s 958us/step - loss: 0.3643 - accuracy: 0.8469
Epoch 14/100
250/250 [==============================] - 0s 950us/step - loss: 0.3608 - accuracy: 0.8500
Epoch 15/100
250/250 [==============================] - 0s 992us/step - loss: 0.3579 - accuracy: 0.8506
Epoch 16/100
250/250 [==============================] - 0s 962us/step - loss: 0.3565 - accuracy: 0.8509
Epoch 17/100
250/250 [==============================] - 0s 912us/step - loss: 0.3541 - accuracy: 0.8491
Epoch 18/100
250/250 [==============================] - 0s 908us/step - loss: 0.3531 - accuracy: 0.8514
Epoch 19/100
250/250 [==============================] - 0s 880us/step - loss: 0.3517 - accuracy: 0.8536
Epoch 20/100
250/250 [==============================] - 0s 890us/step - loss: 0.3508 - accuracy: 0.8518
Epoch 21/100
250/250 [==============================] - 0s 908us/step - loss: 0.3506 - accuracy: 0.8556
Epoch 22/100
250/250 [==============================] - 0s 956us/step - loss: 0.3498 - accuracy: 0.8561
Epoch 23/100
250/250 [==============================] - 0s 954us/step - loss: 0.3491 - accuracy: 0.8570
Epoch 24/100
250/250 [==============================] - 0s 970us/step - loss: 0.3493 - accuracy: 0.8554
Epoch 25/100
250/250 [==============================] - 0s 904us/step - loss: 0.3484 - accuracy: 0.8560
Epoch 26/100
250/250 [==============================] - 0s 932us/step - loss: 0.3481 - accuracy: 0.8577
Epoch 27/100
250/250 [==============================] - 0s 918us/step - loss: 0.3477 - accuracy: 0.8562
Epoch 28/100
250/250 [==============================] - 0s 904us/step - loss: 0.3475 - accuracy: 0.8580
Epoch 29/100
250/250 [==============================] - 0s 924us/step - loss: 0.3468 - accuracy: 0.8585
Epoch 30/100
250/250 [==============================] - 0s 918us/step - loss: 0.3472 - accuracy: 0.8569
Epoch 31/100
250/250 [==============================] - 0s 902us/step - loss: 0.3466 - accuracy: 0.8569
Epoch 32/100
250/250 [==============================] - 0s 906us/step - loss: 0.3460 - accuracy: 0.8596
Epoch 33/100
250/250 [==============================] - 0s 932us/step - loss: 0.3460 - accuracy: 0.8589
Epoch 34/100
250/250 [==============================] - 0s 910us/step - loss: 0.3455 - accuracy: 0.8590
Epoch 35/100
250/250 [==============================] - 0s 910us/step - loss: 0.3455 - accuracy: 0.8594
Epoch 36/100
250/250 [==============================] - 0s 910us/step - loss: 0.3454 - accuracy: 0.8585
Epoch 37/100
250/250 [==============================] - 0s 896us/step - loss: 0.3456 - accuracy: 0.8585
Epoch 38/100
250/250 [==============================] - 0s 908us/step - loss: 0.3446 - accuracy: 0.8609
Epoch 39/100
250/250 [==============================] - 0s 906us/step - loss: 0.3442 - accuracy: 0.8600
Epoch 40/100
250/250 [==============================] - 0s 922us/step - loss: 0.3444 - accuracy: 0.8583
Epoch 41/100
250/250 [==============================] - 0s 996us/step - loss: 0.3444 - accuracy: 0.8618
Epoch 42/100
250/250 [==============================] - 0s 970us/step - loss: 0.3439 - accuracy: 0.8600
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3435 - accuracy: 0.8601
Epoch 44/100
250/250 [==============================] - 0s 960us/step - loss: 0.3434 - accuracy: 0.8622
Epoch 45/100
250/250 [==============================] - 0s 984us/step - loss: 0.3428 - accuracy: 0.8586
Epoch 46/100
250/250 [==============================] - 0s 986us/step - loss: 0.3433 - accuracy: 0.8616
Epoch 47/100
250/250 [==============================] - 0s 916us/step - loss: 0.3426 - accuracy: 0.8602
Epoch 48/100
250/250 [==============================] - 0s 972us/step - loss: 0.3421 - accuracy: 0.8618
Epoch 49/100
250/250 [==============================] - 0s 964us/step - loss: 0.3428 - accuracy: 0.8618
Epoch 50/100
250/250 [==============================] - 0s 912us/step - loss: 0.3422 - accuracy: 0.8606
Epoch 51/100
250/250 [==============================] - 0s 906us/step - loss: 0.3424 - accuracy: 0.8615
Epoch 52/100
250/250 [==============================] - 0s 918us/step - loss: 0.3422 - accuracy: 0.8615
Epoch 53/100
250/250 [==============================] - 0s 902us/step - loss: 0.3421 - accuracy: 0.8619
Epoch 54/100
250/250 [==============================] - 0s 892us/step - loss: 0.3423 - accuracy: 0.8633
Epoch 55/100
250/250 [==============================] - 0s 902us/step - loss: 0.3419 - accuracy: 0.8621
Epoch 56/100
250/250 [==============================] - 0s 920us/step - loss: 0.3420 - accuracy: 0.8637
Epoch 57/100
250/250 [==============================] - 0s 902us/step - loss: 0.3417 - accuracy: 0.8608
Epoch 58/100
250/250 [==============================] - 0s 936us/step - loss: 0.3415 - accuracy: 0.8630
Epoch 59/100
250/250 [==============================] - 0s 914us/step - loss: 0.3418 - accuracy: 0.8630
Epoch 60/100
250/250 [==============================] - 0s 924us/step - loss: 0.3415 - accuracy: 0.8625
Epoch 61/100
250/250 [==============================] - 0s 896us/step - loss: 0.3416 - accuracy: 0.8611
Epoch 62/100
250/250 [==============================] - 0s 884us/step - loss: 0.3416 - accuracy: 0.8611
Epoch 63/100
250/250 [==============================] - 0s 940us/step - loss: 0.3411 - accuracy: 0.8649
Epoch 64/100
250/250 [==============================] - 0s 934us/step - loss: 0.3416 - accuracy: 0.8615
Epoch 65/100
250/250 [==============================] - 0s 920us/step - loss: 0.3411 - accuracy: 0.8621
Epoch 66/100
250/250 [==============================] - 0s 942us/step - loss: 0.3411 - accuracy: 0.8637
Epoch 67/100
250/250 [==============================] - 0s 928us/step - loss: 0.3410 - accuracy: 0.8615
Epoch 68/100
250/250 [==============================] - 0s 928us/step - loss: 0.3408 - accuracy: 0.8630
Epoch 69/100
250/250 [==============================] - 0s 948us/step - loss: 0.3401 - accuracy: 0.8624
Epoch 70/100
250/250 [==============================] - 0s 914us/step - loss: 0.3412 - accuracy: 0.8629
Epoch 71/100
250/250 [==============================] - 0s 886us/step - loss: 0.3409 - accuracy: 0.8625
Epoch 72/100
250/250 [==============================] - 0s 924us/step - loss: 0.3406 - accuracy: 0.8620
Epoch 73/100
250/250 [==============================] - 0s 906us/step - loss: 0.3412 - accuracy: 0.8614
Epoch 74/100
250/250 [==============================] - 0s 964us/step - loss: 0.3406 - accuracy: 0.8604
Epoch 75/100
250/250 [==============================] - 0s 980us/step - loss: 0.3407 - accuracy: 0.8615
Epoch 76/100
250/250 [==============================] - 0s 986us/step - loss: 0.3413 - accuracy: 0.8612
Epoch 77/100
250/250 [==============================] - 0s 944us/step - loss: 0.3406 - accuracy: 0.8624
Epoch 78/100
250/250 [==============================] - 0s 976us/step - loss: 0.3406 - accuracy: 0.8637
Epoch 79/100
250/250 [==============================] - 0s 976us/step - loss: 0.3401 - accuracy: 0.8644
Epoch 80/100
250/250 [==============================] - 0s 898us/step - loss: 0.3406 - accuracy: 0.8616
Epoch 81/100
250/250 [==============================] - 0s 948us/step - loss: 0.3399 - accuracy: 0.8610
Epoch 82/100
250/250 [==============================] - 0s 942us/step - loss: 0.3404 - accuracy: 0.8627
Epoch 83/100
250/250 [==============================] - 0s 884us/step - loss: 0.3399 - accuracy: 0.8625
Epoch 84/100
250/250 [==============================] - 0s 984us/step - loss: 0.3411 - accuracy: 0.8606
Epoch 85/100
250/250 [==============================] - 0s 938us/step - loss: 0.3399 - accuracy: 0.8621
Epoch 86/100
250/250 [==============================] - 0s 946us/step - loss: 0.3404 - accuracy: 0.8619
Epoch 87/100
250/250 [==============================] - 0s 920us/step - loss: 0.3400 - accuracy: 0.8633
Epoch 88/100
250/250 [==============================] - 0s 872us/step - loss: 0.3397 - accuracy: 0.8630
Epoch 89/100
250/250 [==============================] - 0s 890us/step - loss: 0.3395 - accuracy: 0.8633
Epoch 90/100
250/250 [==============================] - 0s 922us/step - loss: 0.3397 - accuracy: 0.8616
Epoch 91/100
250/250 [==============================] - 0s 952us/step - loss: 0.3398 - accuracy: 0.8626
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8633
Epoch 93/100
250/250 [==============================] - 0s 934us/step - loss: 0.3391 - accuracy: 0.8627
Epoch 94/100
250/250 [==============================] - 0s 962us/step - loss: 0.3389 - accuracy: 0.8616
Epoch 95/100
250/250 [==============================] - 0s 950us/step - loss: 0.3386 - accuracy: 0.8637
Epoch 96/100
250/250 [==============================] - 0s 974us/step - loss: 0.3388 - accuracy: 0.8631
Epoch 97/100
250/250 [==============================] - 0s 980us/step - loss: 0.3393 - accuracy: 0.8631
Epoch 98/100
250/250 [==============================] - 0s 944us/step - loss: 0.3385 - accuracy: 0.8631
Epoch 99/100
250/250 [==============================] - 0s 984us/step - loss: 0.3384 - accuracy: 0.8621
Epoch 100/100
250/250 [==============================] - 0s 946us/step - loss: 0.3382 - accuracy: 0.8611

In [26]:
## Evaluate the model
score_trn = model_1.evaluate(x_train, y_train)
print('Training Accuracy is : %.2f%%' %(100*score_trn[1]))
print('')

score_tst = model_1.evaluate(x_test, y_test)
print('Test Accuracy is : %.2f%%' %(100*score_tst[1]))
print('')

250/250 [==============================] - 0s 841us/step - loss: 0.3389 - accuracy: 0.8627
Training Accuracy is : 86.27%

63/63 [==============================] - 0s 1ms/step - loss: 0.3437 - accuracy: 0.8550
Test Accuracy is : 85.50%

#### Obs : Model is underfitting as model accuracy is not too good

In [27]:
print(model_1.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

#### Obs :
* Based on the following informations we have predicted should the customer say goodbye or not ?: Ans : No i.e Customer will not churned out or Exited
- Geography: France
- Credit Score: 600
- Gender: Male
- Age: 40 years old
- Tenure: 3 years
- Balance: \$ 60000
- Number of Products: 2
- Does this customer have a credit card ? Yes
- Is this customer an Active Member: Yes
- Estimated Salary: \$ 50000
- Is this customer an Active Member: Yes

### * Making the Confusion Matrix

In [29]:
y_pred = model_1.predict(x_test)
y_pred = (y_pred > 0.5)

from sklearn.metrics import confusion_matrix, accuracy_score

cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)*100

[[1490  105]
 [ 185  220]]

85.5

## *** END ***